/* HIDEN H1 */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*STYLE FOR THE PAGE*/

body {
  font-family: 'Playfair Display', serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

/* SITE-NAVIGATION STYLE */

.site-navigation {
  font-size: 14px;
  text-align: center;
}

.site-navigation a {
  text-decoration: none;
  color: #626262;
  text-transform: uppercase;
  line-height: 1.714;
}

.site-navigation li {
  display: inline-block;
  margin: 77px 100px 104px 0px;
}
.site-navigation li:last-child {
  margin-right: 0px;
}

.site-navigation a:hover {
  color: #03a9f4;
}

/* SECTION STYLE */

.section-wrapper {
  font-size: 0px;
}

section {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  font-size: 14px;
}

section:nth-child(even) {
  margin-right: 0px;
}

section img {
  display: block;
  width: 100%;
  height: auto;
}

/* TEXT STYLE */

h2 {
  font-size: 30px;
  line-height: 1.2;
  margin: 30px 0px 40px 0px;
}
h3 {
  margin: 30px 0px 0px 0px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
}
p {
  margin-bottom: 135px;
}
.end {
  margin-bottom: 55px;
}

/* BUTTON STYLE */

.btn {
  text-align: center;
}
button {
  color: #626262;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  padding: 21px 33px;
  background-color: transparent;
  margin-bottom: 70px;
}
