body {
  font-family: 'Playfair Display', serif;
  color: #626262;
  font-size: 14px;
  line-height: 24px;
  box-sizing: border-box;
}

/* SITE-NAVIGATION STYLE */

nav {
  margin-left: 228px;
  margin-top: 77px;
}
.site-navigation {
  font-size: 14px;
  list-style: none;
}
.site-navigation a {
  text-decoration: none;
  color: #626262;
  text-transform: uppercase;
  line-height: 1.714;
}
.site-navigation a:hover {
  color: #03a9f4;
}
.site-navigation li {
  display: inline-block;
  margin-left: 95px;
}

/* SECTION STYLE */

section {
  list-style: none;
  margin: 0px;
  margin-left: 150px;
}
ul {
  margin: 0px;
  padding: 0px;
}
section li {
  padding: 0px;
  display: inline-block;
  width: 420px;
}
.toprow {
  margin-top: 103px;
}
.middlerow {
  margin-top: 133px;
}
.bottomrow {
  margin-top: 138px;
}
.left {
  margin-right: 60px;
}

/* TEXT STYLE */

h2 {
  font-size: 30px;
  line-height: 1.2;
  margin: 30px 0px 40px 0px;
}
h3 {
  margin: 30px 0px 0px 0px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: lighter;
  color: rgb(180, 173, 158);
  text-transform: uppercase;
  line-height: 1.2;
}
p {
  margin: 0px;
}

/* BUTTON STYLE */

footer {
  margin: 33px 0px 70px 520px;
}
button {
  color: #626262;
  border-width: 1px;
  border-color: rgb(98, 98, 98);
  border-style: solid;
  padding: 21px 33px;
  background-color: transparent;
}

/* HIDEN H1 */

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
